version: "3.8"

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./src/user_data:/app/src/user_data # Persist data
    environment:
      - FLASK_ENV=production
    restart: unless-stopped
